<div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div style="width:350px; border: 1px solid #ccc; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px; background-color: #ffffff;">
        <h5 style="text-align: center; margin-top: 0; color: #333;">Task Priorities Summary</h5>
        <div style="margin: 20px 0;">
            <canvas id="priorityChart"></canvas>
        </div>
    </div>
</div>
<script>
    var ctx = document.getElementById('priorityChart').getContext('2d');
    var priorityChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Urgent', 'Low', 'Medium', 'High'],
            datasets: [{
                label: 'Tasks count',
                data: [{{ num_urgent_tasks }}, {{ num_low_tasks }}, {{ num_medium_tasks }}, {{ num_high_tasks }}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(75, 192, 192, 0.5)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                tooltip: {
                    mode: 'index',
                    intersect: false
                },
            },
            hover: {
                mode: 'nearest',
                intersect: true
            }
        }
    });
</script>
