{% load static %}

<style>
    .user-initials {
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
    }

    .sidebar-list-item {
        margin-bottom: 0.5rem;
    }

    .sidebar-title {
        font-size: 1.3rem;
        margin-left: 8px;
    }

    .sidebar-ls-svg {
        margin-right: 5px;
    }
</style>

<main class="d-flex flex-nowrap" style="height: 94.1vh;">
  <div class="flex-shrink-0 bg-white" style="width: 280px;">
    <div class="d-flex align-items-center p-4 mb-3 border-bottom">
      <img class="sidebar-ls-svg" src="{% static 'img/list.svg' %}" alt="Bootstrap" width="22" height="22">
      <span class="sidebar-title">Task Dashboard</span>
    </div>
    <ul class="list-unstyled mb-0 ps-0 border-bottom">
      <li class="hover sidebar-list-item">
        <a href="#" class="nav-link link-dark">
          <div class="mb-1 px-4 d-flex align-items-center sidebar-ls-height">
            <img src="{% static 'img/house-door.svg' %}" alt="Bootstrap" width="18" height="18">
            <span class="sidebar-ls-title ms-3">All tasks</span>
          </div>
        </a>
      </li>
      <li class="hover sidebar-list-item">
        <a href="#" class="nav-link link-dark">
          <div class="px-4 d-flex align-items-center sidebar-ls-height">
            <img src="{% static 'img/person.svg' %}" alt="Bootstrap" width="18" height="18">
            <span class="sidebar-ls-title ms-3">My tasks</span>
          </div>
        </a>
      </li>
      <li class="hover sidebar-list-item">
        <a href="#" class="nav-link link-dark">
          <div class="px-4 d-flex align-items-center sidebar-ls-height">
            <img src="{% static 'img/brightness-high.svg' %}" alt="Bootstrap" width="18" height="18">
            <span class="sidebar-ls-title ms-3">Today deadline</span>
          </div>
        </a>
      </li>
      <li class="hover sidebar-list-item">
        <a href="#" class="nav-link link-dark">
          <div class="px-4 d-flex align-items-center sidebar-ls-height">
            <img src="{% static 'img/exclamation-circle.svg' %}" alt="Bootstrap" width="18" height="18">
            <span class="sidebar-ls-title ms-3">Priority</span>
          </div>
        </a>
      </li>
      <li class="hover sidebar-list-item">
        <a href="#" class="nav-link link-dark">
          <div class="px-4 d-flex align-items-center sidebar-ls-height">
            <img src="{% static 'img/people.svg' %}" alt="Bootstrap" width="18" height="18">
            <span class="sidebar-ls-title ms-3">Workers</span>
          </div>
        </a>
      </li>
    </ul>
    <div class="dropdown p-4">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" style="outline: none"
         data-bs-toggle="dropdown" aria-expanded="false">
        <div class="user-initials rounded-circle bg-primary text-white me-3">
          {{ user.first_name|first }}{{ user.last_name|first }}
        </div>
        <span class="sidebar-ls-title">{{ user.first_name }} {{ user.last_name }}</span>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        {% if user.is_authenticated %}
        <li><a class="dropdown-item" href="#">Sign out</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</main>
