{% load static %}
<style>
    .sidebar {
        width: 260px;
        color: #333;
        height: 100vh;
        padding: 20px;
        font-family: 'Arial', sans-serif;
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }

    .user-name {
        font-size: 16px;
        margin-left: 10px;
    }

    .menu {
        list-style: none;
        padding: 0;
    }

    .menu li a {
        display: block;
        padding: 15px;
        color: #333;
        text-decoration: none;
    }

    .menu li a:hover {
        background-color: #f3f3f3;
    }
</style>
<div class="sidebar">
  <ul class="menu">
    <li><a href="{% url 'task_manager:overview' %}"><img src="{% static 'img/priority.svg' %}" alt="Overview"
                                                         height="22" width="22"> Project Overview</a></li>
    <li><a href="#"><img src="{% static 'img/dashboard.svg' %}" alt="Dashboard" height="22" width="22"> Dashboard</a>
    </li>
    <li><a href="{% url 'task_manager:calendar' %}"><img src="{% static 'img/calendar.svg' %}" alt="Calendar"
                                                         height="22" width="22"> Calendar</a></li>
    <li><a href="#"><img src="{% static 'img/all_tasks.svg' %}" alt="Tasks" height="22" width="22"> All tasks</a></li>
    <li><a href="#"><img src="{% static 'img/my_tasks.svg' %}" alt="My Tasks" height="22" width="22"> My Tasks</a></li>
    <li><a href="#"><img src="{% static 'img/clock.svg' %}" alt="Deadline" height="22" width="22"> Today deadline</a>
    </li>
    <li><a href="#"><img src="{% static 'img/people.svg' %}" alt="Workers" height="22" width="22"> Workers</a></li>
  </ul>
  <hr>
  <div class="user-info">
    <img src="{% static 'img/user_icon.svg' %}" height="22" width="22" alt="User icon">
    <div class="user-name"> {{ user.first_name }} {{ user.last_name }}</div>
  </div>
</div>
