{% load static %}
<style>
    .sidebar {
        width: 260px;
        background-color: lightcyan;
        color: #333;
        height: 100vh;
        padding: 20px;
        font-family: 'Arial', sans-serif;
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .user-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .user-name {
        font-size: 16px;
    }

    .menu {
        list-style: none;
        padding: 0;
    }

    .menu li a {
        display: block;
        padding: 10px;
        color: #333;
        text-decoration: none;
    }

    .menu li a:hover {
        background-color: #f3f3f3;
    }
</style>
<div class="sidebar">
  <div class="user-info">
    <img src="{% static 'img/person.svg' %}" alt="User Image" class="user-image">
    <div class="user-name">{{ user.first_name }} {{ user.last_name }}</div>
  </div>
  <ul class="menu">
    <li><a href="{% url 'task_manager:overview'%}">Project Overview</a></li>
    <li><a href="#">Dashboard</a></li>
    <li><a href="#">Calendar</a></li>
    <li><a href="#">All Tasks</a></li>
    <li><a href="#">My Tasks</a></li>
    <li><a href="#">Today deadline</a></li>
  </ul>
</div>
