<style>
    .gradient-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    background: linear-gradient(to right, #DA8CFF, #9A55FF);
    transition: background 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  }
</style>

{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>All tasks</title>
{% endblock %}

{% block tasks-toolbar-icon %}
    <img class="listTitleIcon" src="{% static 'img/house.svg' %}" alt="Bootstrap" width="50" height="50">
{% endblock %}

{% block tasks-toolbar-title %}
    All Tasks
{% endblock %}

{% block content %}
    {% block tasks-existence-check %}
        {% if tasks %}
            {% block task-iterator %}
                {% for task in tasks %}
                    {% include "includes/task_list.html" %}
                {% endfor %}
            {% endblock %}
        {% else %}
            <p>No tasks found.</p>
        {% endif %}
    {% endblock %}

    <div class="mt-3">
        <a href="#" class="gradient-btn">Add new task</a>
    </div>
{% endblock %}
