<style>
    .task-container {
        background-color: #fff;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .gradient-btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        background: linear-gradient(to right, #DA8CFF, #9A55FF);
        transition: background 0.3s ease, border-color 0.3s ease, color 0.3s ease;
        margin-right: 20px;
    }

    .disabled-btn {
        background: #CCCCCC;
        color: #ffffff;
        cursor: not-allowed;
    }

</style>

{% extends "base.html" %}
{% load static %}

{% block tasks-toolbar-icon %}
    <img class="listTitleIcon" src="{% static 'img/task_details.svg' %}" alt="Task Details" width="50" height="50">
{% endblock %}

{% block tasks-toolbar-title %}
    Task Details
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <td>{{ task.name }}</td>
                            </tr>
                            <tr>
                                <th>Priority</th>
                                <td>{{ task.get_priority_display }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ task.description }}</td>
                            </tr>
                            <tr>
                                <th>Type</th>
                                <td>{{ task.task_type.name }}</td>
                            </tr>
                            <tr>
                                <th>Deadline</th>
                                <td>{{ task.deadline|date:"D, M d, Y" }}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>
                                    {% if task.is_completed %}
                                        Completed
                                    {% else %}
                                        In Progress
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Assignees</th>
                                <td>
                                    <ul>
                                        {% for worker in task.assignees.all %}
                                            <li>{{ worker.get_full_name }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mt-3">
                <a href="{% if request.user in task.assignees.all %}{% url 'task_manager:task-update' pk=task.id %}
                {% else %}#{% endif %}" class="gradient-btn {% if request.user not in task.assignees.all %}disabled-btn{% endif %}">Update task</a>
                <a href="{% if request.user in task.assignees.all %}{% url 'task_manager:task-delete' pk=task.id %}
                {% else %}#{% endif %}" class="gradient-btn {% if request.user not in task.assignees.all %}disabled-btn{% endif %}">Delete task</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
