<style>
    .user {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .initials-circle {
        width: 70px;
        height: 70px;
        background-color: #B66DFF;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 30px;
        font-weight: bold;
    }

    .card {
        padding: 20px;
        margin-right: 20px;
        height: 320px;
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 4px 8px rgba(182, 109, 255, 0.2);
    }

    .gradient-btn {
        display: inline-block;
        text-align: center;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        background: linear-gradient(to right, #DA8CFF, #9A55FF);
        transition: background 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    }
</style>

{% extends "base.html" %}

{% block tasks-toolbar-icon %}
<img class="listTitleIcon" src="/static/img/people.svg" alt="Bootstrap" width="50" height="50">
{% endblock %}

{% block tasks-toolbar-title %}
Workers
{% endblock %}

{% block content %}
<div class="container d-flex">
  {% for worker in workers %}
  <div class="card">
    <div class="user text-center">
      <div class="profile">
        <div class="initials-circle">
          {{ worker.first_name|first|upper }}{{ worker.last_name|first|upper }}
        </div>
      </div>
    </div>
    <div class="mt-3 text-center">
      <h5 class="mb-2">{{ worker.get_full_name }}</h5>
      <h6 class="text-muted d-block mb-2">{{ worker.username }}</h6>
      <span class="text-muted d-block">
                {% if worker.position %}
                    {{ worker.position.name }}
                {% else %}
                    No position specified
                {% endif %}
            </span>
    </div>
    <a href="{% url 'accounts:worker-profile-detail' pk=worker.pk %}" class="gradient-btn">View profile</a>
  </div>
  {% endfor %}
</div>
{% endblock %}
